<%= form_for :response do |f| %>
  <div class="field">
    <p>
       <strong><%= f.label :comment %></strong>
       <%= f.text_area :response, size: "30x10" %>
    </p>
  </div>

  <p>
    <%= f.submit, "submit_button" %>
  </p>

<% end %>
