  <p>
    <%= f.label :qualifications %>
    <%= f.text_field :doc_qual, :maxlength => 18 %>
  </p>

  <p>
    <%= f.label :registration_number %>
    <%= f.text_field :regis_number, :maxlength => 18 %>
  </p>
