<div class="field">
  <p>
   <%= f.label :qualifications %>
   <%= f.text_field :doc_qual, placeholder: "Qualifications" %>
  </p>
</div>


<div class="field">
<p>
 <%= f.label :registration_number %>
 <%= f.text_field :regis_number, placeholder: "Registration Number"%>
</p>
</div>
