
<%= link_to "Login", {:controller=> "sessions", :action=> "new"}, :method => :get %> |
<%= link_to "Sign Up", {:controller=> "users", :action=> "new"}, :method => :get %>

<h1>Mommy Monitor</h1>

<p>An expectant mother? Connecting with your specialist has just gotten easier!</p>
