<h1>Mommy's Profile</h1>

<h1><%="Hello #{@user.first_name}!"%></h1>

<h3>Your Info</h3>
<p><%= "Phone Number: #{@user.phone}"%></p>
<p><%= "Address: #{@user.address}"%></p>
<p><%= "Email: #{@user.email}"%></p>
