<div class="background-image">
  <div class="jumbotron">
    <strong>
    <%= image_tag "logo3.png", :width => "204", :height => "106"%>
    <p>Are you expecting?</p>
    <p>Monitor the stages of your pregnancy!</p>
    <p>Connect with your specialist using Mommy Monitor.</p>
    </strong>
  </div>
</div>
