// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textarea#comment_comment {
    -webkit-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    border: 2px solid lightgrey;
    margin: 10px auto;
    padding: 15px;
}

.mini-mom {
  background-color: #fff;
  border: 1px solid pink;
  border-radius: 5px;
  float: left;
  width: 11%;
  height: 100%;
  margin: 9px;
  padding: 3px;
}

.mini-doc {
  border-radius: 5px;
  border: 1px solid red;
  float: left;
  width: 11%;
  height: 100%;
  margin: 9px;
  padding: 3px;
}
