// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textarea#comment_comment {
    -webkit-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    border: 2px solid lightgrey;
    margin: 15px auto;
    padding: 5px;

}

// .new_comment{
//   border-radius: 5px;
//   // margin: 50px 80px auto;
// }


// @media screen and (max-width: 1080px) {
//   .comment-box{
//     width: 100%;
//
//   }
//
//   .comment-form {
//     width: 100%;
//   }
// }
